<!DOCTYPE html>
<head>
  <script src="https://unpkg.com/@descope/web-component@x.x.x/dist/index.js"></script>
  <script src="https://unpkg.com/@descope/web-js-sdk@x.x.x/dist/index.umd.js"></script>
</head>
<html>
  <body>
    
    <h1>Log In With Descope Flows</h1>
    <p id="container"></p>

    <script>
      const sdk = Descope({ projectId: 'P2U3izm3RD0Rx2NYuRlGzIeJFCyg', persistTokens: true, autoRefresh: true });
      sdk.refresh()
      const sessionToken = sdk.getSessionToken()
      
      var notValidToken
      if (sessionToken) {
          notValidToken = sdk.isJwtExpired(sessionToken)
          console.log(notValidToken)
      }
      if (!sessionToken || notValidToken) {
          var container = document.getElementById('container');
          container.innerHTML = '<descope-wc project-id="P2U3izm3RD0Rx2NYuRlGzIeJFCyg" flow-id="sign-up-or-in"></descope-wc>';

          const wcElement = document.getElementsByTagName('descope-wc')[0];
          const onSuccess = (e) => {
            console.log(e.detail.user),
            sdk.refresh(),
            window.location.replace("../chat?sessionToken=" + encodeURIComponent(sessionToken));
          };
          const onError = (err) => console.log(err);

          wcElement.addEventListener('success', onSuccess);
          wcElement.addEventListener('error', onError);
      }
      else {
        window.location.replace("../chat?sessionToken=" + encodeURIComponent(sessionToken));
      }
    </script>
  </body>
</html>

<script src="https://unpkg.com/@descope/web-js-sdk@x.x.x/dist/index.umd.js"></script>
<script>
  sdk.refresh()
  // Rest of your logic ...
</script>